@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@300&family=Raleway:ital,wght@0,200;1,100&display=swap');

.topContent{
    color: white;
}
.topContent_container{
    position:absolute;
    top:300px;
    margin-left: 50%;
}
.topContent_container>p{
    letter-spacing: 1px;
    /* text-align: center; */
    /* padding-left: 3px; */
    padding-top: 20px;
}
.topContent_container>a>button{
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
}
.topContent_container>h1{
    font-size: 50px;
    font-family: "Montserrat",sans-serif;
}
.topContent_button{
    color: white;
    background-color:rgb(240, 137, 3);
    font-size: 14px;
    padding: 10px 30px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}
.topContent_button:hover{
    font-weight: 600;
   color: rgb(240, 137, 3);
    background-color: white;
}